@use '@style/abstracts/variables' as *;

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 114rem;
  min-height: 8vh;
  border-end-start-radius: 1.2rem;
  border-end-end-radius: 1.2rem;
  margin-inline: auto;
  box-shadow: 0 0.2rem 0.1rem rgba(0, 0, 0, 0.75);
  padding-inline: 2rem;
  
  
  > * {
    flex: 1;
  }
  
  img {
    max-width: 21rem;
    width: 100%;
    margin-inline: auto;
  }
}
