$dark-800:#081229;
$dark-700:#191d3a;
$blue-500:#404b84;
$pink-600:#bf1650;
$pink-400:#ec5990;
$pink-200:#ff7aa8;

$font-family: 'Fira Sans', sans-serif;
$font-heading: 700;
$font-body: 400;

$ease: all 0.2s ease-in-out;